<app-header></app-header>
<div class="container-fluid mx-0 g-0">
  <div class="row mx-0">
    <div class="col-2 min-vh-100 bg-danger-subtle ">
      <app-rightsidebar (valueChange)="onChanges($event)" (valueTableChange)="onTableChange($event)"
        (onSubmitChange)="onSubmit($event)"></app-rightsidebar>
    </div>
    <ng-container *ngIf="typeChart!=='Table'">
      <div class="col-8 gx-1 bg-dark-subtle" id="chart-container">
      </div>
    </ng-container>
    <ng-container *ngIf="typeChart==='Table'">
      <div class="col-8 gx-1">
        <table class="table table-bordered" style="min-height: 200px;color:#556;">
          <tr class="table-primary">
            <th *ngFor="let item of tableOptions.label">{{item}}</th>
          </tr>
          <tr *ngFor="let user of tableData">
						<th>{{user?.id}}</th>
						<td>{{user?.name}}</td>
						<td>{{user?.email}}</td>
						<td>{{user?.phone}}</td>
					</tr>
        </table>
      </div>
    </ng-container>
    <div class="col-2 min-vh-100 bg-danger-subtle position-relative">
      <app-leftsidebar [chartData]="chartData"></app-leftsidebar>
    </div>
  </div>
</div>